.container {
  width: 320px;
  margin: 15px auto;
  .mdl-card {
    width: 100%;
    .mdl-card__title {
      color: #fff;
      background-color: rgba(#e91e63, 0.85);
      height: 65px;
      width: 100%;
      display:table;
      word-wrap: break-word;
      word-break: break-all;
    }
    .calc {
      .controllers, .numbers {
        width: 210px;
        margin: auto;
        display: block;
        padding: 10px;
      }
      button {
        margin: 5px; 
      }
      
      .numbers {
        button {
        color: rgba(0,0,0, 0.75);
        }
      }
    }
    
  }
}